.maincontainer {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    justify-content: space-evenly;
    height: 80%;
}

.left-container {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.pname {
    font-size: 36px;
    font-weight: 500;
    color: #8FC3FA;
}

.ppic {
    background: #C4C4C4;
    border-radius: 140px;
    height: 140px;
    width: 140px;
}

.ppic img {
    height: 140px;
    width: 140px;
}

.level {
    padding: 2px 30px;
    background-color: #2B6777;
    border-radius: 10px;
    font-weight: 700;
    size: 16px;
    text-align: center;
}

.txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
}

.btm {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55%;
}

.btn {
    margin: 20px;
    background: #8FC3FA;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 2px 20px;
    border-radius: 20px;
    text-align: center;
}

.right-container {
    height: 100%;
    width: 50%;
    position: relative;
    box-sizing: border-box;
}

.profilecard {
    position: absolute;
    background: #C2DFFE;
    border-radius: 18px;
    width: 548px;
    height: 366px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    top: 200px;
}

.row {
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.head,
.value {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.points {
    position: absolute;
    top: 20px;
    width: 548px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reviewpt,
.reviewedsite {
    display: flex;
    flex-direction: column;
    width: 134px;
    height: 64px;
    background: #2B6777;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.txtrs,
.txtp {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.edit_btn {
    width: 80px;
    position: absolute;
    display: flex;
    border-radius: 60px;
    border-width: 0;
    padding: 4px;
    background: #8FC3FA;
    justify-content: space-evenly;
    align-items: center;
    left: 465px;
    bottom: 35px;
}

.edit_btn div {
    color: white;
}